tqdm
requests
xgboost
lightgbm==2.3.1
bayesian-optimization
pandas==0.25
holidays==0.9.12
python-dateutil==2.8.0
numpy==1.16
scipy==1.4.1
mxnet==1.4.1 
gluonts==0.4.2
tensorflow==2.0
scikit-learn>=0.22
matplotlib
statsmodels==0.11
beautifultable
tabulate==0.8.3
pmdarima==1.3
shap==0.35