tqdm
requests
xgboost
lightgbm
bayesian-optimization
pandas==0.25
gluonts
holidays==0.9.12
numpy>=1.17.3
scipy==1.2
tensorflow==2.1.0
scikit-learn>=0.22
matplotlib
statsmodels==0.11
beautifultable
tabulate>=0.8.3
pmdarima